.idea
target
.java-version
tlog/
charts/
src/test/resources/org/dataone/cn/index/resources/solr9home/collection1/conf/schema.xml.bak
src/test/resources/org/dataone/cn/index/resources/solr9home/collection1/data
